body {
  background: #ffffff;
}

.primary-bg, .sign-in-md {
  background-color: #e74c3c;
}

.signin-warn {
	color: #e74c3c;
	font-size: 0.75em;
}

.md-icon-button .user-icon
{
	line-height: 1;
}

.user-icon > i {
	line-height: 1;
	padding-top: 10px;
}