<md-content flex layout-align="center center">
	<md-toolbar>        
	  <div class="md-toolbar-tools md-whiteframe-z1">
	  	<md-menu md-offset="10 72">
		    <md-button class="md-icon-button user-icon" ng-click="$mdOpenMenu()" aria-label="Settings">
		      <i class="material-icons ">perm_identity</i>
		    </md-button>
		    <md-menu-content width="4">
		    	<md-menu-item>
		    		<md-button class="md-primary" ng-click="logUserOut()">
		    		Logout
		    		</md-button>
		    	</md-menu-item>
		    	<md-menu-item>
		    		<md-button class="md-primary">
		    		Preferences
		    		</md-button>
		    	</md-menu-item>
		    </md-menu-content>
	    </md-menu>
	     <h2>{{currentUserName}}</h2>
	    <span flex></span>
	  </div>
	</md-toolbar>

	<div layout="row" flex layout-align="start center">
		<canvas width="700" height="500"
		id="Temperature" 
		class="chart chart-line chart-xl" 
		data="temperatureObj.data"
		labels="temperatureObj.timeScale"
		options="temperatureObj.options"
		series="temperatureObj.seriesName"></canvas> 
	</div>
</md-content>