<md-content flex layout-align="center center">

  <md-toolbar>        
    <div class="md-toolbar-tools md-whiteframe-z1">
      <md-menu md-offset="10 72">
        <md-button class="md-icon-button user-icon" ng-click="$mdOpenMenu()" aria-label="Settings">
          <i class="material-icons ">perm_identity</i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button class="md-primary" ng-click="logUserOut()">
            Logout
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button class="md-primary">
            Preferences
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
       <h2>{{currentUserName}}</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <div layout="row" layout-align="center center">        

    <div layout="" flex="70">
      <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">Temperature (&deg;C)</span>
      </div>
      <md-slider flex="" min="0" max="100" ng-model="sense.temp" id="temp-slider" class="">
      </md-slider>
      <div flex="20" layout="" layout-align="center center">
        <input type="text" ng-model="sense.temp" aria-label="purple" aria-controls="temp-slider">
      </div>
    </div>
  </div>  
  <div layout="row" layout-align="center">        

    <div layout="" flex="70">
      <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">Humidity (%)</span>
      </div>
      <md-slider flex="" min="0" max="100" ng-model="sense.hum" id="hum-slider" class="">
      </md-slider>
      <div flex="20" layout="" layout-align="center center">
        <input type="text" ng-model="sense.hum" aria-label="blue" aria-controls="hum-slider">
      </div>
    </div>
  </div>

  <div layout="row" layout-align="center">        

    <div layout="" flex="70">
      <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">Pressure</span>
      </div>
      <md-slider flex="" min="0" max="100" ng-model="sense.pres" id="pres-slider" class="">
      </md-slider>
      <div flex="20" layout="" layout-align="center center">
        <input type="text" ng-model="sense.pres" aria-label="blue" aria-controls="pres-slider">
      </div>
    </div>
  </div>

  <div layout="row" layout-align="center center">
    <md-switch ng-model="data.cb1" aria-label="Switch 1" class="md-warn">
      Drop: {{ data.cb1 }}
    </md-switch>
  </div>
  
</md-content>